# Python
*.pyc
*.pyo
__pycache__

# Django
*.sqlite3      # Si estás usando SQLite, puedes ignorar el archivo de base de datos
db.sqlite3
*.log
*.pot
*.pyd
*.db
staticfiles/   # Archivos estáticos recolectados
media/         # Archivos subidos por usuarios

# Entorno virtual
venv/
env/
*.env
entorno-virtual/

#Node
node_modules/

#Redis
redis/

# Archivos de migraciones
# migrations/   # Comentado: no siempre se ignora, depende de si quieres versionarlas

# Archivos de configuración de IDEs
.vscode/
.idea/

# Adiciones recomendadas
*.swp          # Archivos temporales de editores como Vim
*.bak          # Archivos de respaldo
*.cache        # Caché general
dist/          # Carpeta de distribución (si empaquetas el proyecto)
*.egg-info/    # Metadatos de paquetes Python
Pipfile.lock   # Si usas Pipenv