{% load static django_bootstrap5 %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma - Inicio</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="top-bar">
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.nombre }}
                </button>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    {% if user.is_authenticated and user.rol == 'Administrador' %}
                        <li><a class="dropdown-item" href="{% url 'usuarios:gestion_usuarios' %}">Vista Admin</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{% url 'usuarios:login' %}" class="btn btn-primary">Iniciar Sesión</a>
            <a href="{% url 'usuarios:register' %}" class="btn btn-secondary">Registrarse</a>
        {% endif %}
    </div>
    <div class="container">
        <h1>Bienvenido a Job2Pay</h1>
        <p>Esta es la página principal de nuestro sistema de búsqueda de empleo.</p>
        <form method="get" action="{% url 'Analisis_mercado:buscar_trabajos' %}">
            <div class="form-group">
                <label for="q">Palabras clave:</label>
                <input type="text" name="q" id="q" class="form-control" placeholder="Ej: developer" value="{{ request.GET.q }}">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <!-- Mostrar los resultados si hay -->
        {% if jobs %}
    <div class="jobs-container">
        <h2>Resultados de búsqueda</h2>
        <p>¡Contenedor de prueba!</p>
        {% for job in jobs %}
            <div class="job-item">
                <p>{{ job.title }}</p>
            </div>
        {% endfor %}
    </div>
    {% elif error %}
        <p class="alert error">{{ error }}</p>
    {% endif %}
</div>

    {% bootstrap_javascript %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</body>
</html>